In [ ]:
dic = "{'형상관리가이드.pdf': 100, '여비규정.pdf': 101, '국가공인민간자격.html': 102}"

In [ ]:
s = ['형상관리가이드.pdf','여비규정.pdf']
for doc_name in s:
    index_nm = eval(dic).get(doc_name)
    print(index_nm)

In [ ]:
import cx_Oracle
import pandas as pd

def aa(content_id):
    username = 'DPKMAPP'
    password = 'Kms12#$'
    dsn = '61.106.19.217:33389/CDB1'
    encoding = 'UTF-8'
    
    sql = f""" SELECT k01.cntnt_id AS cntnt_id 
         , k01.titl AS titl_nm
         , k13.cntnt_nm AS tab_nm
         , k24.sub_cntnt_nm AS sub_nm
         , k24.contn AS contn
    FROM   tbctkk01 k01
         , tbctkk13 k13
         , tbctkk24 k24
    where k01.cntnt_id = {content_id}
      AND k01.cntnt_id = k13.cntnt_id
      AND k13.cntnt_id = k24.CNTNT_ID 
      AND k13.cntnt_no = k24.CNTNT_NO 
      AND k01.use_yn='Y'
      AND k13.use_yn='Y'
      AND k24.use_yn='Y'
    ORDER BY k13.sort_ord, k24.sort_ord """

    # 오라클 클라이언트를 선언: windows 환경변수에 path를 잡으면 필요없음
#     sql = f"SELECT cntnt_id, sub_cntnt_nm,contn FROM DPKMAPP.TBCTKk24 where cntnt_id = {content_id}"
    try:
        cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_21_12")
    except Exception as e:
        pass

    try:
        connection = cx_Oracle.connect(username, password, dsn, encoding=encoding)
  
        with connection.cursor() as cursor:
            cursor.execute(sql)
            rows = cursor.fetchall()
            cols = [x[0].lower() for x in cursor.description]
   
        df = pd.DataFrame(rows, columns = cols)
        for c in df.columns:
            if df[c].dtype == object:
                df[c] = df[c].astype("string")

        connection.close()

    except cx_Oracle.DatabaseError as ex:
        err, = ex.args
        print('error code :', err.code)
        print('error message :', err.message)
   
    print(len(df.contn))
    print(df)
    return df

In [ ]:
content_id = 51249
df = aa(content_id)

In [ ]:
html_header = f'<!DOCTYPE html> \
    <html> \
    <head><meta http-equiv="X-UA-Compatible" content="IE=Edge"> \
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> \
        <title> {titl_nm} </title> \
    </head> <body> '
html_footer = '</body> </html>'

# s1 = '<h3>' + df['sub_cntnt_nm'].to_string(index=False) + '</h3>'
# s2 = df['contn'].to_string(index=False)  # to_string함수를 쓰면 짤림

In [ ]:
html_doc = ''
titl_nm,tab_nm,sub_nm  = ['','','']

for idx,row in df.iterrows():
#     s1 =  '<h1>' + row.titl_nm +'</h1>' if row.titl_nm != titl_nm else ""
    titl_nm = row.titl_nm
    s2 =  '<h2>' + row.tab_nm +'</h2>' if row.tab_nm != tab_nm else ""
    s3 =  '<h3>' + row.sub_nm +'</h3>' if row.sub_nm != sub_nm else ""
    html_doc = html_doc + s2 + s3 + row.contn
    titl_nm, tab_nm, sub_nm = row.titl_nm,row.tab_nm,row.sub_nm

In [ ]:
html_doc = html_header + html_doc + html_footer

In [ ]:
html_doc

In [ ]:
f = '51249.html'
f='국가공인민간자격.html'
with open(f'../../gpt/data/{f_name}','r', encoding='utf-8') as f:
    ff = f.read()
    print(ff)

In [ ]:
for idx,row in df.iterrows():
    if idx >0:
        print(row.tab_nm, df.loc[idx-1,"tab_nm"])

In [ ]:
f_name = ''.join(df.cntnt_id) + '.html'
with open(f'../../gpt/data/{f_name}','w') as f:
        f.write(s)
        print(
        print(type(f.name.split('/')[-1]))

In [ ]:
html_doc

In [ ]:
from bs4 import BeautifulSoup
    
html_doc = ''.join(df.contn)
html_doc = html_header + html_doc + html_footer

    
soup = BeautifulSoup(html_doc, 'html.parser').get_text().replace('  ','')
print(soup)
s= soup

In [ ]:
s = df[['contn']].applymap(lambda text: BeautifulSoup(text, 'html.parser').get_text())

In [ ]:
s.to_clipboard()

In [ ]:
!pip list

In [ ]:
f = open("ss.txt",'w')
f.name='ss1'